[Unit]
Description=Nissan Leaf 
After=network.target
Wants=leaf-summary.timer

[Service]
Type=oneshot
EnvironmentFile=/home/pi/source/leaf-status/.env
ExecStart=/usr/bin/python /home/pi/source/leaf-status/get-leaf-summary.py
WorkingDirectory=/home/pi/source/leaf-status/
StandardOutput=inherit
StandardError=inherit
User=root
Restart=no

[Install]
WantedBy=multi-user.target